@page "/streaming"
@inherits StreamingBase

<div class="">
    @if (IsConnected)
    {
        <p>Connected!</p>
    }
    else
    {
        <p>Not Connected</p>
    }
    
    <p>
        @CurrentNum
    </p>
</div>

<button @onclick="Start">Start</button>

